html {
  font-size: 16px;
}

.havok-design-system-body-text {
  color: var(--color-black-01);
  font-family: var(--font-family-body);
  font-size: var(--text-size-body);
  font-weight: var(--text-font-weight-normal);
  line-height: var(--text-line-height-body);
  margin-bottom: var(--text-spacing-body);
}

.havok-design-system-header-01 {
  color: var(--color-black-01);
  font-family: var(--font-family-title);
  font-size: var(--text-size-header-01);
  font-weight: var(--text-font-weight-normal);
  line-height: var(--text-line-height-header-01);
  margin-bottom: var(--text-spacing-header-01);
}

.havok-design-system-header-02 {
  color: var(--color-black-01);
  font-family: var(--font-family-title);
  font-size: var(--text-size-header-02);
  font-weight: var(--text-font-weight-normal);
  line-height: var(--text-line-height-header-02);
  margin-bottom: var(--text-spacing-header-02);
}

.havok-design-system-header-03 {
  color: var(--color-black-01);
  font-family: var(--font-family-title);
  font-size: var(--text-size-header-03);
  font-weight: var(--text-font-weight-normal);
  line-height: var(--text-line-height-header-03);
  margin-bottom: var(--text-spacing-header-03);
}

.havok-design-system-header-04 {
  color: var(--color-black-01);
  font-family: var(--font-family-body);
  font-size: var(--text-size-header-04);
  font-weight: var(--text-font-weight-heavy);
  line-height: var(--text-line-height-header-04);
  margin-bottom: var(--text-spacing-header-04);
}

.havok-design-system-header-05 {
  color: var(--color-black-01);
  font-family: var(--font-family-body);
  font-size: var(--text-size-header-05);
  font-weight: var(--text-font-weight-heavy);
  line-height: var(--text-line-height-header-05);
  margin-bottom: var(--text-spacing-header-05);
}

.havok-design-system-header-06 {
  color: var(--color-black-01);
  font-family: var(--font-family-body);
  font-size: var(--text-size-header-06);
  font-weight: var(--text-font-weight-heavy);
  line-height: var(--text-line-height-header-06);
  margin-bottom: var(--text-spacing-header-06);
}

.havok-design-system-sub-text {
  color: var(--color-black-01);
  font-family: var(--font-family-body);
  font-size: var(--text-size-sub-01);
  font-weight: var(--text-font-weight-normal);
  line-height: var(--text-line-height-sub-01);
  margin-bottom: var(--text-spacing-sub-01);
}

.havok-design-system-simple-list {
  background-color: var(--color-black-01);
  border: var(--border-dark);
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-base);
  margin-bottom: var(--text-spacing-grouped-content);
  margin-top: var(--text-spacing-grouped-content);
}

.havok-design-system-simple-list-item {
  background-color: var(--color-black-01);
  box-sizing: border-box;
  color: var(--color-white-01);
  font-family: var(--font-family-body);
  font-size: var(--text-size-body);
  font-weight: var(--text-font-weight-normal);
  line-height: var(--text-line-height-body);
  padding: var(--padding-size-01)
}

.havok-design-system-simple-list-item:not(:last-of-type) {
  border-bottom: var(--border-dark);
}

.havok-design-system-label {
  color: var(--color-black-02);
  display: block;
  font-weight: var(--text-font-weight-heavy);
  margin-bottom: var(--text-spacing-label);
}

.havok-design-system-label.havok-design-system-label-error {
  color: var(--color-destructive-01);
}

.havok-design-system-text-input {
  background-color: var(--color-black-01);
  border: var(--border-base);
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-inset);
  color: var(--color-white-01);
  font-family: var(--font-family-body);
  margin-bottom: var(--text-spacing-input);
  padding: var(--padding-size-01);
}

.havok-design-system-text-input.havok-design-system-text-input-error {
  border: var(--border-error);
}

.havok-design-system-button {
  border-radius: var(--border-radius-02);
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--font-family-title);
  font-size: var(--text-size-button);
  line-height: 1;
  padding: var(--padding-size-02);
  text-transform: uppercase;
  transition: var(--transition-speed);
}

.havok-design-system-button svg {
  margin-right: var(--padding-size-02);
}

.havok-design-system-button-destructive {
  background: none;
  border: solid 2px var(--color-destructive-01);
  color: var(--color-destructive-01);
}

.havok-design-system-button-destructive:hover {
  background: var(--color-destructive-01);
  color: var(--color-white-01);
}

.havok-design-system-button-primary {
  background: none;
  border: solid 2px var(--color-interactive-01);
  color: var(--color-interactive-01);
}

.havok-design-system-button-primary:hover {
  background: var(--color-interactive-01);
  color: var(--color-white-01);
}

.havok-design-system-button-secondary {
  background: none;
  border: solid 2px var(--color-black-01);
  color: var(--color-black-01);
}

.havok-design-system-button-secondary:hover {
  background: var(--color-black-01);
  color: var(--color-white-01);
}

.havok-design-system-button-container {
  margin-bottom: var(--text-spacing-grouped-content);
  margin-top: var(--text-spacing-grouped-content);
}

.havok-design-system-button-container .havok-design-system-button {
  margin-bottom: var(--text-spacing-button);
  margin-right: var(--text-spacing-button);
}

.havok-design-system-link {
  color: var(--color-interactive-01);
  font-weight: var(--text-font-weight-heavy);
  transition: var(--transition-speed);
}

.havok-design-system-link:hover {
  color: var(--color-interactive-02);
  transition: var(--transition-speed);
}

.havok-design-system-list-item.havok-design-system-bold-text,
.havok-design-system-sub-text.havok-design-system-bold-text,
.havok-design-system-body-text.havok-design-system-bold-text {
  font-weight: var(--text-font-weight-heavy);
}

.havok-design-system-list-item.havok-design-system-italics-text,
.havok-design-system-sub-text.havok-design-system-italics-text,
.havok-design-system-body-text.havok-design-system-italics-text {
  font-style: italic;
}

.havok-design-system-logo-display {
  width: var(--logo-size-display);
}

.havok-design-system-logo-content {
  width: var(--logo-size-content);
}

.havok-design-system-logo-thumbnail {
  width: var(--logo-size-thumbnail);
}

.havok-design-system-logo-title {
  text-align: center;
}

.havok-design-system-box {
  background-color: var(--color-white-01);
  border-radius: var(--border-radius-02);
  box-shadow: var(--box-shadow-light);
  box-sizing: border-box;
  margin-bottom: var(--text-spacing-grouped-content);
  margin-top: var(--text-spacing-grouped-content);
  padding: var(--padding-size-02);
  width: 100%;
}

.havok-design-system-box.havok-design-system-box-no-margin-bottom {
  margin-bottom: 0;
}

.havok-design-system-box.havok-design-system-box-no-margin-top {
  margin-top: 0;
}

.havok-design-system-grid {
  display: flex;
  flex-direction: column;
  gap: var(--grid-spacing-01);
  margin: var(--text-spacing-grouped-content) 0;
  width: 100%;
}

.havok-design-system-row {
  display: flex;
  gap: var(--grid-spacing-01);
}

.havok-design-system-item-1 {
  width: 8.33%;
}

.havok-design-system-item-2 {
  width: 16.66%;
}

.havok-design-system-item-3 {
  width: 25%;
}

.havok-design-system-item-4 {
  width: 33.33%;
}

.havok-design-system-item-5 {
  width: 41.66%;
}

.havok-design-system-item-6 {
  width: 50%;
}

.havok-design-system-item-7 {
  width: 58.33%;
}

.havok-design-system-item-8 {
  width: 66.66%;
}

.havok-design-system-item-9 {
  width: 75%;
}

.havok-design-system-item-10 {
  width: 83.33%;
}

.havok-design-system-item-11 {
  width: 91.66%;
}

.havok-design-system-item-12 {
  width: 100%;
}

.havok-design-system-item-1 .havok-design-system-box:first-child,
.havok-design-system-item-2 .havok-design-system-box:first-child,
.havok-design-system-item-3 .havok-design-system-box:first-child,
.havok-design-system-item-4 .havok-design-system-box:first-child,
.havok-design-system-item-5 .havok-design-system-box:first-child,
.havok-design-system-item-6 .havok-design-system-box:first-child,
.havok-design-system-item-7 .havok-design-system-box:first-child,
.havok-design-system-item-8 .havok-design-system-box:first-child,
.havok-design-system-item-9 .havok-design-system-box:first-child,
.havok-design-system-item-10 .havok-design-system-box:first-child,
.havok-design-system-item-11 .havok-design-system-box:first-child,
.havok-design-system-item-12 .havok-design-system-box:first-child {
  margin-top: 0;
}

.havok-design-system-item-1 .havok-design-system-box:last-child,
.havok-design-system-item-2 .havok-design-system-box:last-child,
.havok-design-system-item-3 .havok-design-system-box:last-child,
.havok-design-system-item-4 .havok-design-system-box:last-child,
.havok-design-system-item-5 .havok-design-system-box:last-child,
.havok-design-system-item-6 .havok-design-system-box:last-child,
.havok-design-system-item-7 .havok-design-system-box:last-child,
.havok-design-system-item-8 .havok-design-system-box:last-child,
.havok-design-system-item-9 .havok-design-system-box:last-child,
.havok-design-system-item-10 .havok-design-system-box:last-child,
.havok-design-system-item-11 .havok-design-system-box:last-child,
.havok-design-system-item-12 .havok-design-system-box:last-child {
  margin-bottom: 0;
}